<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Basic Flask App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <section class="hero is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Basic Flask App</h1>
        <h2 class="subtitle">Good day to you?</h2>
      </div>
      <br />
      <div class="container">
        <button
          class="button is-large"
          onClick="location.href='https://www.instagram.com/winnie.yxl/'"
        >
          Know me on Instagram!
        </button>
      </div>
    </div>
  </section>
  <body>
    <section class="section">
      <div class="container">
        <div class="content is-medium">
          <h1>{{ name }} | {{ age }}</h1>
          <h2>{{ occupation }}</h2>
          <p>👋 Hi, I’m @Mlkaz3</p>
          <p>👀 I’m interested in coding</p>
          <p>🌱 I’m currently learning data science</p>
          <p>
            💞️ I’m looking to collaborate on creating new projects and discover
            challenging stuff
          </p>
          <p>
            📫 How to reach me? Email codewithwinnie@gmail.com or Instagram
            @winnie.yxl
          </p>
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>Basic Flask App</strong> by <a href="#">Winnie</a>.</p>
    </div>
  </footer>
</html>
